<a href="https://colab.research.google.com/github/Nirhar/KOT/blob/master/Data_Modelling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np

In [5]:
data=pd.read_csv('/content/drive/My Drive/Colab Notebooks/KOT-Restaurant/KOT_Data_Modified.csv')

In [6]:
data.head()

    KOT# RestaurantName Classification  ...  Classification.1 Type ClassName
0  160.0  Home Delivery           FOOD  ...               NaN  NaN       NaN
1  160.0  Home Delivery           FOOD  ...               NaN  NaN       NaN
2  161.0  Home Delivery           FOOD  ...               NaN  NaN       NaN
3  161.0  Home Delivery           FOOD  ...              Food    I       1.0
4  162.0  Home Delivery           FOOD  ...              Food    I       1.0

[5 rows x 14 columns]